@charset "UTF-8";

body {
	font-family: 'Helvetica Neue';
	background-color: #FFF;
	color: #333;
	margin: 0;
}

/* ========== Links ========== */

a {
	
}

a:hover {
	
}

/* ========== Navbar ========== */

.navbar {
	background-color: #EEE;
}

.navbar li a, .navbar a {
	color: #333;
}

.navbar li a:hover {
	color: #000;
}

.navbar .active a,
.navbar .active a:hover {
	background-color: #333;
	color: #EEE;
}

/* ========== Sections ========== */

.extra {
	margin: 100px;
}

/* ========== About ========== */

#about {
	
}

/* ========== Contact ========== */

#contact {
	
}

/* ========== Projects ========== */

#projects {
	
}