@font-face {
	font-family: 'ico';
	src:url('../fonts/ico.eot');
	src:url('../fonts/ico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ico.woff') format('woff'),
		url('../fonts/ico.ttf') format('truetype'),
		url('../fonts/ico.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'ico';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-envelope, .icon-github, .icon-stackoverflow, .icon-reddit, .icon-twitter, .icon-tumblr, .icon-facebook, .icon-github-2 {
	font-family: 'ico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-envelope:before {
	content: "\61";
}
.icon-github:before {
	content: "\62";
}
.icon-stackoverflow:before {
	content: "\63";
}
.icon-reddit:before {
	content: "\64";
}
.icon-twitter:before {
	content: "\65";
}
.icon-tumblr:before {
	content: "\66";
}
.icon-facebook:before {
	content: "\67";
}
.icon-github-2:before {
	content: "\68";
}
