@charset "UTF-8";

html, body {
	height: 100%;
}

body {
	font-family: Helvetica;
	font-size: 12px;
	color: #333;
	margin: 0;
}

/* -- Links -- */

a {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

/* -- Nav -- */

.nav {
	padding: 50px;
	position: absolute;
	z-index: 3000;
	color: #FFF;
	font-size: 32px;
	font-weight: 900;
}

/* -- Slider -- */

ul.slide {
	position: absolute;
	z-index: 3000;
	list-style: none;
	top: 50%;
	right: 50px;
}

.hidden {
	display: none;
}

ul.slide li.button {
	border: 2px solid #FFF;
	display: inline-block;
	height: 2px;
	width: 2px;
	padding: 6px;
	margin: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	-o-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}

ul.slide li.button.active {
	background-color: #FFF;
}

.fade {
	background-color: transparent;
}

/* -- Image -- */

.stripes {
	background-image: url(../img/stripes.png);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	height: 100%;
	width: 100%;
}

.hold {
	height: 100%;
	width: 100%;
	background-color: #000;
}

.photo {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size:cover;
	position: relative;
	z-index: 300;
	min-height: 100%;
	background-image: url(../img/s1.jpg);
}

.photo2 {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size:cover;
	position: absolute;
	z-index: 200;
	height: 100%;
	width: 100%;
	top: 0;
	background-image: url(../img/s2.jpg);
}

.photo3 {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size:cover;
	position: absolute;
	z-index: 100;
	height: 100%;
	width: 100%;
	top: 0;
	background-image: url(../img/s3.jpg);
}

/* -- Projects -- */

.projects {
	height: 300px;
}

/* -- * -- */

