@charset "UTF-8";

html, body {
	height: 100%;
}

body {
	font-family: Helvetica;
	font-size: 12px;
	color: #333;
	margin: 0;
}

/* -- Links -- */

a {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

/* -- Navbar -- */

.navbar {
	position: fixed;
	z-index: 4000;
	padding: 25px 0px;
	width: 100%;
	text-align: right;
	-o-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}

.navbar ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.navbar ul a {
	color: #FFF;
	font-size: 16px;
	font-weight: 900;
}

.navbar ul a li {
	display: inline-block;
	padding: 0px 20px;
}

/* -- Name -- */

.name {
	top: 80%;
	padding: 50px;
	position: absolute;
	z-index: 3000;
	color: #FFF;
	font-size: 64px;
	font-weight: 900;
}

/* -- Slider -- */

ul.slide {
	position: absolute;
	z-index: 3000;
	list-style: none;
	top: 50%;
	right: 50px;
}

ul.slide li.button {
	border: 2px solid #FFF;
	display: inline-block;
	height: 2px;
	width: 2px;
	padding: 6px;
	margin: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	-o-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}

ul.slide li.button.active {
	background-color: #FFF;
}

/* -- Image -- */

.stripes {
	background-image: url(../img/stripes.png);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	height: 100%;
	width: 100%;
}

.hold {
	height: 100%;
	width: 100%;
	background-color: #000;
}

.photo {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size:cover;
	position: relative;
	z-index: 300;
	min-height: 100%;
	background-image: url(../img/s1.jpg);
}

.photo2 {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size:cover;
	position: absolute;
	z-index: 200;
	height: 100%;
	width: 100%;
	top: 0;
	background-image: url(../img/s2.jpg);
}

.photo3 {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size:cover;
	position: absolute;
	z-index: 100;
	height: 100%;
	width: 100%;
	top: 0;
	background-image: url(../img/s3.jpg);
}

/* -- About -- */

.about {
	height: 1000px;
}

/* -- * -- */

/* Tablets */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
{

/* Media Specific Content */

}
 
/* Mobile Devices */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
{
	/* -- Navbar -- */

	.navbar {
		display: none;
	}

	/* -- End Mobile -- */
}

