@charset 'UTF-8';

@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fontsOpenSans-Regular.ttf) format("ttf"), 
	url(../fontsOpenSans-Regular.otf) format("otf"), url(../fontsOpenSans-Regular.eot) format("eot");
}

html, body {
	margin: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-size: 3em;
}

/* <==> Bottom <==> */

.bottom {
	position: absolute;
	bottom: 1em;
	right: 1em;
}

/* <==> Sizes <==> */

.sm {
	display: none;
}

.lg {
	display: block;
}

/* <==> Header <==> */

.header {
	color: #FFF;
	height: 100%;
	width: 100%;
	text-align: center;
	background-image: url(../img/m.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

/* <==> Logo <==> */

.logo {
	background-color: #FFF;
	color: #333;
	width: 3em;
	height: 3em;
	-webkit-border-radius: 3em;
	-moz-border-radius: 3em;
	border-radius: 3em;
	line-height: 3em;
	font-size: 5em;
}

/* <==> iPhone 4S and less && iPad Mini && iPad <==> */
@media screen and (device-aspect-ratio: 3/4) {

	.sm {
		display: block;
	}

	.lg {
		display: none;
	}

	.logo {
		font-size: 7em;
	}

}

/* <==> iPhone 5 <==> */
@media screen and (device-aspect-ratio: 40/71) {

	.sm {
		display: block;
	}

	.lg {
		display: none;
	}

	.logo {
		font-size: 10em;
	}
 
}
