@charset 'UTF-8';

@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fontsOpenSans-Regular.ttf) format("ttf"), 
	url(../fontsOpenSans-Regular.otf) format("otf"), url(../fontsOpenSans-Regular.eot) format("eot");
}

html, body {
	margin: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-size: 3em;
}

a, a li {
	color: #696;
	text-decoration: none;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

a:hover {
	color: #333;
}

/* <==> Bottom <==> */

.bottom {
	position: absolute;
	bottom: 1em;
	right: 1em;
}

/* <==> Sizes <==> */

.sm {
	display: none;
}

.lg {
	display: block;
}

/* <==> Header <==> */

.header {
	color: #FFF;
	height: 100%;
	width: 100%;
	text-align: center;
	background-image: url(../img/m.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

/* <==> Logo <==> */

.logo {
	background-color: #FFF;
	color: #333;
	width: 3em;
	height: 3em;
	-webkit-border-radius: 3em;
	-moz-border-radius: 3em;
	border-radius: 3em;
	line-height: 3em;
	font-size: 5em;
}

/* <==> Sections <==> */

.section {
	padding: 2em;
	text-align: center;
}

.section h1, .section h2 {
	text-align: left;
}

section {
	display: inline-block;
	text-align: left;
	width: 50%;
}

.wrap {
	width: 80%;
	margin: auto;
}

.footer {
	background-color: #333;
	color: #CCC;
	font-size: .75em;
	text-align: right;
}

/* <==> iPhone 4S and less && iPad Mini && iPad <==> */
@media screen and (device-aspect-ratio: 3/4) {

	.sm {
		display: block;
	}

	.lg {
		display: none;
	}

	.logo {
		font-size: 7em;
	}

	.about {
		font-size: 2em;
	}

	.about h1 {
		text-align: center;
	}

	.wrap {
		width: 100%;
	}

	section {
		display: block;
		width: 100%;
	}

	.footer {
		font-size: 1.5em;
	}
}

/* <==> iPhone 5 <==> */
@media screen and (device-aspect-ratio: 40/71) {

	.sm {
		display: block;
	}

	.lg {
		display: none;
	}

	.logo {
		font-size: 10em;
	}

	.about {
		font-size: 3em;
	}

	.about h1 {
		text-align: center;
	}

	.wrap {
		width: 100%;
	}

	section {
		display: block;
		width: 100%;
	}

	.footer {
		font-size: 2.5em;
		text-align: center;
	}
 
}
